*{
    margin:0;
}
.header{
    height:200px;
    background: #1b6dca;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.icons{
    background: transparent;
    border: 2px solid white;
    padding:5px;
    font-size: 30px;
    color: white;
}
.social-icons img {
    margin: 0 10px;
}
/* .first-icon{
    margin-left: 30px;
} */
.header{
    padding: 30px;
}
.btn{
    height: 45px;
    background: transparent;
    font-weight: 100;
    color: white;
    border: 2px solid white;
    margin: 0 15px;
    /* width:200px; */
    padding: 0 15px;
    border-radius: 12px;
    outline: none;
}
.btn:hover{
    background: black;
    color:white;
    border:2px solid transparent;
}
.header-two{
    /* display: flex;
    justify-content: center; */
    /* height:500px; */
    background: #0a62c7;
    padding-bottom: 50px;
}
.img-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.avatar{
    height: 200px;
    /* width: 300px; */
    position: absolute;
    top: 150px;
}
.info{
    font-family: Roboto Slab, serif;
    font-size: 20px;
    margin:auto;
    
}
.content-container{
    margin-top: 170px;
    text-align: center !important;
    color: white;
}
.content-container h3{
    opacity: 0.5;
    font-size: 30px;
    font-weight: 100;
    animation: fullstack 1s infinite ease-in-out;
}
/* animation for full stack */
@keyframes fullstack {
    from {opacity: 0.5;}
    to {opacity:1;}
}
.name{
    font-size:35px;
    color:white;
    font-weight:300;
}
#about{
    color: white;
    text-align: left;
    font-family: Ubuntu Mono,monospace;
    padding-top:20px;
    margin: auto;
    max-width: 80%;
}
#about p {
    max-width:800px;
    padding:10px;
}
.navbar ,.mobile-nav{
    padding: 25px;
    background: #004594;
    position: sticky;
    margin: auto;
    text-align: center;
}
.navbar a , .mobile-nav a{
    font-family: Roboto Mono,monospace;
    text-decoration: none;
    font-size: 20px;
    color:white;
    margin: 10px;
}
.mobile-nav{
    display: none;
}
.content{
    background: #f5f5f5;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
}
.card-1{
    margin-top:40px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
    width:80vw;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2) ;
    border-radius:12px;
    padding: 50px 20px;
}
.card-title{
    text-align: center;
    font-family: Roboto Mono,monospace;
    font-size: x-large;
    font-weight: 300;
}
.card-1-content{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 30px !important;
    justify-content: center;
    margin: auto;
}
.content-expirience{
    padding-left:30px;
    border-left: #004594  3px solid; 
    width: 500px;
}.content-expirience p{
    line-height: 150%;
}
.card-2-content, .card-3-content{
    display: flex;
    /* flex-wrap:wrap; */
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.card-2-content div{
    padding: 10px;
}
.card-3-content div{
    padding: 15px;
    text-align: center;
}
#skills{
    text-align: center;
    font-family: monospace !important;
}
#contact{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
footer{
    background: #004594;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px;

}
.tech-place{
    font-size:20px;
    color:rgba(3,54,113,.93);
    padding-bottom: 30px;
}
.tech-position{
    font-size: 18px;
    font-weight: 300;
    color: rgba(3,54,113,.93);
    font-family: monospace;
    padding-bottom:30px; 
}
.school{
    font-size: 18px;
    font-weight: 300;
    color: rgba(5, 46, 94, 0.93);
    font-family: monospace;
    padding-bottom:30px; 
}
.school-info{
    font-family: monospace;
    line-height: 140%;
    font-size: large;
}
.skill-info-head{
    font-size: 22px;
    font-weight: 900;
    font-family: Cambria, serif;
    color:rgba(5, 46, 94, 0.93);
}
.card-3-content p {
    padding-bottom:10px;
    font-family: monospace;
    font-size: 16px;
}
#skills h1 {
    padding-bottom: 30px;
}
#skills button{
    font-size:16px;
    padding:10px 30px;
    border: 1px solid blue;
    background: transparent;
    border-radius: 12px 0;
    outline: none;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 1px 10px 0 rgba(3,54,113,.93);
}
#skills button:hover{
    box-shadow: 0 1px 10px 0 rgba(141, 153, 167, 0.93);
    border: 1px solid black;
}
#skills button:active{
    box-shadow: 0 1px 30px 0 rgba(3,54,113,.93);
    border: 1px solid black;
}
.bulk-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}
.contact-image{
    margin: auto;
    /* width:300px; */
}
.contact-content{
    max-width: 700px;
}
.mobilenav-bar{
    display: none;
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
}
/* media query mostly for flex-wrap property  */
@media screen and (max-width: 800px) {
    .card-2-content, .card-3-content{
        flex-wrap: wrap;
    }
    .content-exp{
        flex-wrap: wrap;
    }
    .mobilenav-bar{
        display: grid;
        background: #004594;
        padding: 20px;
        border:none;
        color:white;

    }
    .navbar{
        display: none;
    }
    .mobile-nav, .menu-item{
        display: grid;
        
    }
    .mobile-nav{
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 0 !important;
    }
    .mobile-nav a{
        margin: 10px auto;
        width: 200px;
    }
}

